/* styles.css */

body {
    background-image: url('confetti.jpg');
    background-size: 1700px 1000px;
    background-color: #f4f4f4;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #10e3dc;
    padding: 5px; /* Padding for h1 */
    border-radius: 20px; /* Border radius for rounded corners */
    font-size: 4em;
}

.gifs-container {
    position: relative;
    margin: 2px 0;
}

.gifs-container img {
    max-width: 80%;
    height: auto;
    position: absolute;
}
.gif-position-1 {
    top: 100px;
    left: 300px;
}

/* Positioning for GIF 2 */
.gif-position-2 {
    top: 100px;
    right: 300px;
}
.gif-position-3 {
    top: 800px;
    right: 300px;
}

.gif-position-4 {
    top: 800px;
    left: 300px;
}